#trabalhe1{
	
	margin-top: 8%;
	margin-left: 25%;
	margin-bottom: 5%;
	background:#778899;
	opacity: 0.9;
	width:600px;
    height: 400px;
    border-radius: 30% 3% 30% 3%;
        	
}

#trabalhe2{
	
	margin-top: 8%;
	margin-left: 8%;
	margin-bottom: 8%;
	background:#778899;
	opacity: 0.9;
	width:84%;
    height: 100%;
    border-radius: 3% 3% 3% 3%;
        	
}

.alinhamentoCeltral{
	
	margin-left: 22%;
	
}
.alinhamentoCeltral2{
	
	margin-left: 34%;
	
}
.alinhamentoCeltral3{
	
	margin-left: 37%;
	
}
.cadastro{
	
	margin-top: 9px;
	margin-left: 10px;
	
}
.painel_cadastro{
	
	margin-top: 20px;;
}
.cadastros1{
	color: white;
	font-family: arial;
	font-size: 18px;
	width: 150%;
	margin-top: 2px;
}

.cadastros2{
	color: black;
	font-family: arial;
	font-size: 18px;
	width: 150%;
	margin-top: 2px;
}
.administrador{
	
	margin-left: 10px;
	margin-top: 10px;
	
}
.administrador_texto{
	
	margin-left: 5px;
	margin-top: 5px;
	
}
.informacoes{
	
	width: 50%;
	
}